h1{color:red;}
h2{color:blue;}

body {
    background-color:yellow;
    text-align:center;
    
}
li{
    text-align: left;
    color:brown;
    h3{color:green;}
{}
}
em{color: blue;}
.chicken{
    color: orange;
}